<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content fxLayout="column" class="mat-dialog">
  <section class="mat-typography">
    <h3 subheading-2 fxLayoutAlign="center center">{{message}}</h3>
  </section>
  <div fxLayout="row" fxFlex="100">
    <mat-form-field fxFlex="100">
      <input matInput fxFlex="100" [(ngModel)]="user.email" [formControl]="emailControl"  type="text" name="email" placeholder="Email" required>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxFlex="100">
    <mat-form-field fxFlex="100" fxFlex.xs="100">
      <input matInput type="text" bariguiMask="999.999.999-99" [(ngModel)]="user.cpf" name="cpf"
        placeholder="999.999.999-99" [formControl]="cpfControl" required>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="center center" fxLayoutGap="10px">
    <button fxFlex="45" id="botaoSim" class="btn-barigui btn-primary" [disabled]="!emailControl.valid || !cpfControl.valid"  (click)="reset()">Recuperar senha</button>
    <button fxFlex="45" id="botaoNao" class="btn-barigui btn-transparent" (click)="no()">Cancelar</button>
</mat-dialog-actions>
