#header {
    background: #000;
}

.perfil {
    font-family: 'ArialMT', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: white;
}

.menu-header {
    font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
}


.bem-vindo {
    font-style: normal;
    font-size: 10px;
    color: #fff;
}