<div fxLayout.xs="column">
  <mat-card fxLayout.xs="column" fxLayoutGap="20px" fxLayoutAlign="start start">
    <div fxLayout="column" fxLayoutGap="20px" fxFlex="70" fxFlex.xs="100">
      <!-- <div fxLayout="column" fxFlex="50">
        <box-home item="Propostas"></box-home>
      </div> -->
      <div fxFlex="40" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center start" fxHide.xs="true" fxHide="false">
          <box-home fxFlex="47" item="Propostas"></box-home>
          <box-home fxFlex="47" (click)="redirect('financeiro')" item="Financeiro"></box-home>
      </div>
      <div fxFlex="40" fxLayout="row" fxLayoutGap="20px" fxHide.xs="true" fxLayoutAlign="center start" fxHide="false">
          <box-home fxFlex="47" item="Marketing"></box-home>
          <box-home fxFlex="47" item="Comunicação"></box-home>
      </div>
      <!-- MOBILE -->
        <div fxFlex="100" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" fxHide="true" fxHide.xs="false">
            <box-home fxFlex.xs="100" fxHide.xs="false" fxHide="true"  item="Propostas"></box-home>
        </div>
        <div fxFlex="100" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" fxHide="true" fxHide.xs="false">
            <box-home fxFlex.xs="100" fxHide.xs="false" fxHide="true"  item="Financeiro"></box-home>
        </div>
        <div fxFlex="100" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" fxHide="true" fxHide.xs="false">
            <box-home fxFlex.xs="100" fxHide.xs="false" fxHide="true" item="Marketing"></box-home>
        </div>
        <div fxFlex="100" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" fxHide="true" fxHide.xs="false">
            <box-home style="width: 100%" fxFlex.xs="100" fxHide.xs="false" fxHide="true" item="Comunicação"></box-home>
        </div>
      <!-- FIM MOBILE -->
    </div> 
    <div fxLayout="row" fxFlex="30" fxFlex.sm="28" fxFlex.xs="100">
      <box-home  fxFlex="100" fxLayout="row" item="Treinamento"></box-home>
    </div>
  </mat-card>
</div>