<div class="container" fxFlex="100" fxLayout="column" *ngIf="!authenticationService.currentUserValue.changedPassword">
  <div fxLayout="row">
    <img src="../../../assets/images/logo.jfif" id="logo"/>
  </div>
  <div class="login" id="login" fxLayout="column" fxLayoutGap="20px">
    <div fxLayoutAlign="center center" fxLayout="row" class="header-login">
      <h3 class="span">Alterar Senha</h3>
    </div>
    <div class="bem-vindo">Digite sua nova senha para altera-la</div>
    <div class="warning">Nova senha deverá conter no mínimo 6 caracteres e ser composta por letras e números.</div>
    <!-- <p class="bem-vindo">Por favor identifique-se.</p> -->

    <form id="frmLogin"  [formGroup]="alterPasswordForm" novalidate>
      <p>
      </p><div class="lock-login">
        <input type="password" name="password" id="password" placeholder="Nova Senha" formControlName="password" [(ngModel)]="user.password" required>
      </div>
      <p></p>
      <p>
      </p><div class="lock-login">
        <input type="password" name="password" id="password" placeholder="Confirmar Senha" formControlName="confirmPassword" [(ngModel)]="user.confirmPassword" required>
      </div>
      <p></p>
      <div fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <div fxFlex="45">
            <button mat-button id="sendCredentials" [disabled]="!alterPasswordForm.valid"  (click)="savePassword()">Salvar</button>
        </div>
      </div>

    </form>
  </div>
</div>